.clear
<!-- BEGIN footer -->
footer
	.container.clearfix
		.qr-block
			.footer__subtitle
				|О компании
			a.nav__link(href="" title="")
				|О нас
			a.nav__link(href="" title="")
				|Новости
			a.nav__link(href="" title="")
				|Отзывы
			a.nav__link(href="" title="")
				|Форум
			a.nav__link(href="" title="")
				|Контакты
			a.nav__link(href="" title="")
				|Регистрация
		.qr-block
			.footer__subtitle
				|Доставка и оплата
			a.nav__link(href="" title="")
				|Схема работы
			a.nav__link(href="" title="")
				|Стоимость услуг
			a.nav__link(href="" title="")
				|Калькулятор
			a.nav__link(href="" title="")
				|Доставка
			a.nav__link(href="" title="")
				|Оплата
			a.nav__link(href="" title="")
				|Курс валют
		.qr-block
			.footer__subtitle
				|Торговые площадки
			a.nav__link.nav__link--logo(href="" title="")
				svg(style="width:108px; height:17px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#rakuten')

			a.nav__link.nav__link--logo(href="" title="")
				svg(style="width:109px; height:21px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#yahoo')

			a.nav__link.nav__link--logo(href="" title="")
				svg(style="width:108px; height:33px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#amazon')

			a.nav__link(href="" title="")
				|Магазины Японии
		.qr-block
			.footer__subtitle
				|Способы оплаты
			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:28px; height:30px; margin-left: 8px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#qiwi')

			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:26px; height:26px; margin-left: 8px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#webmoney')

			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:28px; height:26px; margin-left: 8px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#yandex')

			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:28px; height:26px; margin-left: 6px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#sberbank')
			br
			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:42px; height:12px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#visa')

			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:35px; height:27px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#mastercard')

			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:35px; height:27px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#maestro')

			.nav__link.nav__link--logo.nav__link--inline
				svg(style="width:24px; height:26px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#paypal')

			a.nav__link(href="" title="")
				|Помощь
			.copyrights
				|© 2005-2016, InJapan.ru
.preloader.c-preloader

<!-- popup -->
.c-popup.popup.clearfix(style="display:none")
	.popup__close.c-popup-close
	.popup__content

include svg.svg
script(src="./js/plugins.js")
script(src="./js/columns.js")
script(src="./js/script.js")