<!-- BEGIN header -->
header.clearfix
	.container
			nav
				.nav__left
					a.nav__link(href="" title="")
						|Yahoo
					a.nav__link(href="" title="")
						|Amazon
					a.nav__link(href="" title="")
						|Rakuten
				.nav__center
					a.nav__link(href="" title="")
						|Магазины
					a.nav__link(href="" title="")
						|Схема работы
					a.nav__link(href="" title="")
						|Доставка
					a.nav__link(href="" title="")
						|Тарифы
				.nav__right
					a.nav__link(href="" title="")
						|Расчитать доставку
					a.nav__link(href="" title="")
						|Помощь

			
<!-- END header -->
