<!-- BEGIN panel -->
.panel
	.container.clearfix
		.left
			a.panel__logo(href="" title="")

			a.popup-link.catalog.c-popup-link.c-interior(href="/ajax/catalog.html" title="")
				svg(style="width:13px; height:12px;")
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#menu1')
				| Каталог
			form.search(method="" action="")
				input.search__input(type="text" value="" placeholder="Введите номер лота или название товара…")
				input.search__btn(type="submit" value="")
		.right
			span.c-yen
				|Баланс: ¥ 6 000
			span.hidden.c-dollar
				| Баланс: $ 16 000
			span.hidden.c-ruble
				| Баланс: &#8381 6 000
			a.notification(href="" title="")
				span.notification__count
					|2
			.dropdown.clearfix.c-dropdown
				a.dropdown__selected-el.c-dropdown-link(href="" title="")
					| Александр
				ul
					li
						a(href="" title="")
							| Выйти
					li
						a(href="" title="")
							| Др.ссылка
<!-- END panel -->
