<div class="popup__tail"></div>

<ul class="navigation">
    <li>
        <a href="" title="" class="navigation__link c-nav-link active">
            Автомомбили
        </a>
        <div class="navigation__bl">
            <div class="navigation__bl-category">
                Автомобили
            </div>

            <a href="" title="" class="navigation__bl-link">
                Показать все
                <svg style="width:4px; height:8px;">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow3"></use>
                </svg>
            </a>

            <ul class="navigation__bl-content c-columns">
                <li>
                    <a href="" title="" class="secondary-link">ЕТС</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Авто-аудио</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Автобусы</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Аксессуары</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Безопасность</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Грузовики, строительная техника</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Диски, шины</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Запчасти</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Инструменты</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Каталог запчастей, сервисные книжки</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Мотоциклы</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Навигация</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Сигнализация</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Товары для автолюбителей</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Эксплуатация</a>
                </li>
            </ul>

        </div>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
            Бытовая техника
        </a>

        <div class="navigation__bl">
            <div class="navigation__bl-category">
                Бытовая техника
            </div>

            <a href="" title="" class="navigation__bl-link">
                Показать все
                <svg style="width:4px; height:8px;">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow3"></use>
                </svg>
            </a>

            <ul class="navigation__bl-content c-columns">
                <li>
                    <a href="" title="" class="secondary-link">Телевизоры0</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Телевизоры1</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Телевизоры2</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Телевизоры3</a>
                </li>

                <li>
                    <a href="" title="" class="secondary-link">Телевизоры4</a>
                </li>
            </ul>

        </div>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
           Видео
        </a>
        <div class="navigation__bl">
            3
        </div>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
            Игры и игрушки
        </a>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
           Книги
        </a>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
            Коллекционирование
        </a>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
            Компьютерная техника
        </a>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
           Красота и здоровье
        </a>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
            Музыка
        </a>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
           Одежда,обувь,аксессуары
        </a>
    </li>

    <li>
        <a href="" title="" class="navigation__link c-nav-link">
            Прочее
        </a>
    </li>

    <li>
        <a href="" title="" class="secondary-btn">
           Все категории
        </a>
    </li>

</ul>