<div class="popup__tail"></div>

<div class="popup__body">
    <!--Авторизация-->
    <div id="login">
        <div class="popup__title">Вход</div>
        <form method="" action="">
            <div class="form__item">
                <input type="email" name="email" placeholder="Введите электронный адрес" data-validation="required" class="simple-input"/>
            </div>

            <div class="form__item">
                <input type="password" name="password" placeholder="Введите пароль от InJapan" data-validation="required" class="simple-input"/>
            </div>

            <div class="form__item">
                <span class="custom__bl">
                    <input type="checkbox"  id="remember" name="remember" value="remember" checked="checked" class="custom__input">
                    <label for="remember" class="custom__label">Запомнить</label>
                </span>

                <a href="" title="" class="secondary-link right">Забыли пароль?</a>
            </div>

            <div class="form__item">
                <input type="submit" value="Войти" class="primary-btn primary-btn--big"/>
            </div>

            <div class="form__item">
                Нет аккаунта?
                <a href="" title="" class="primary-link c-login-link c-reg">Зарегистрироваться</a>
            </div>
        </form>
    </div>

    <!--Регистрация-->
    <div id="registration">
        <div class="popup__title">Регистрация</div>
        <form method="" action="">
            <div class="form__item">
                <input type="email" name="email" placeholder="Введите электронный адрес" data-validation="required" class="simple-input"/>
            </div>

            <div class="form__item">
                <input type="password"  name="password" placeholder="Придумайте пароль" data-validation="required" class="simple-input"/>
            </div>

            <div class="form__item">
                <span class="custom__bl">
                    <input type="checkbox"  id="agreement" name="agreement" value="agreement" checked="checked" data-validation="required" class="custom__input">
                    <label for="agreement" class="custom__label">
                        Я соглашаюсь с
                        <a href="" title="" class="primary-link">правилами</a>
                        работы InJapan.ru
                    </label>
                </span>
            </div>

            <div class="form__item">
                <input type="submit" value="Продолжить" class="primary-btn primary-btn--big"/>
            </div>

            <div class="form__item">
                Если вы уже зарегистрировались на нашем сайте,
                <br>
                <a href="" title="" class="primary-link c-login-link">войдите</a>
                со своим логином и паролем.
            </div>
        </form>
    </div>

</div>

<script>
    initCustomValidate();
</script>
