/* fonts */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Circe', 'Tahoma', sans-serif;
  font-weight: 400;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  position: relative;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
  font-family: 'Circe', 'Tahoma', sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.pagewrap {
  min-height: 100%;
  min-width: 1024px;
  padding-bottom: 372px;
  margin-bottom: -372px;
  background: #fcfcfc;
  overflow: hidden;
}
header {
  width: 100%;
  height: 44px;
  background-color: #2b2b2b;
  z-index: 3;
}
footer {
  height: 372px;
  min-width: 1024px;
  background-color: #2b2b2b;
  padding-top: 72px;
}
footer .nav__link {
  display: block;
  margin-right: 0;
  margin-bottom: 21px;
  line-height: 1;
}
footer .nav__link--logo {
  margin-bottom: 35px;
}
footer .nav__link--inline {
  display: inline-block;
  margin-right: 22px;
  margin-bottom: 24px;
  vertical-align: middle;
}
footer .nav__link:last-child {
  margin-bottom: 0;
}
aside {
  width: 25.86%;
  padding-right: 3.44%;
  float: left;
}
aside hr {
  height: 1px;
  border: none;
  margin: 20px 0;
  background: #e5e5e5;
}
.content {
  width: 74.14%;
  float: right;
}
.bg-layer {
  width: 100%;
  min-width: 1024px;
  height: 697px;
  *opacity: 0.9;
  position: absolute;
  top: 37px;
  left: 0;
  background: url('../images/content/bg.jpg') no-repeat;
  background-size: 100% 100%;
}
.hill {
  width: 1600px;
  height: 684px;
  opacity: 0.9;
  position: absolute;
  top: 4px;
  background: url(../images/content/hill1.png) no-repeat;
  z-index: 1;
  left: -21%;
}
.bg-gradient {
  position: absolute;
  left: 0;
  top: 408px;
  width: 100%;
  min-width: 1024px;
  height: 401px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fcfcfc));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fcfcfc);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fcfcfc);
}
.container {
  min-width: 1024px;
  max-width: 1133px;
  margin: 0 auto;
}
.logo {
  display: block;
  width: 108px;
  height: 37px;
  position: absolute;
  top: 44px;
  left: 50%;
  margin-left: -54px;
  background: url('../images/injapan-logo.png') no-repeat;
}
.heading,
.subtitle {
  position: absolute;
  left: 0;
  width: 100%;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.heading {
  top: 173px;
  font-size: 78px;
  font-weight: 800;
  line-height: 1;
}
.subtitle {
  top: 295px;
  font-size: 18px;
  z-index: 2;
}
.subtitle:after,
.subtitle:before {
  position: absolute;
  content: '';
  top: 50%;
  width: 175px;
  height: 1px;
  opacity: 0.5;
  background: #fff;
}
.subtitle:before {
  left: 113px;
}
.subtitle:after {
  right: 113px;
}
.main-search {
  position: absolute;
  top: 364px;
  left: 50%;
  margin-left: -273px;
  width: 547px;
  height: 54px;
  z-index: 2;
}
.main-search__input {
  height: 54px;
  width: 100%;
  opacity: 0.3;
  background-color: #000;
  padding: 0 130px 0 20px;
  line-height: 54px;
  color: #fff;
  font-size: 16px;
}
.main-search__btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  background: #d7353d;
  line-height: 54px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 14px;
  cursor: pointer;
}
.nav__left,
.nav__center,
.nav__right {
  display: inline-block;
}
.nav__left .nav__link {
  font-weight: 600;
  color: #fff;
}
.nav__center {
  margin-left: 15%;
}
.nav__right {
  float: right;
}
.nav__right .nav__link:last-child {
  margin: 0;
}
.nav__link {
  display: inline-block;
  margin-right: 22px;
  color: #bfbfbf;
  font-size: 16px;
  line-height: 44px;
}
.navigation {
  display: block;
  list-style: none;
  width: 284px;
  height: 510px;
  margin: 0;
  padding: 27px 0 0 42px;
  border-right: 1px solid #e8e8e8;
}
.navigation li {
  padding: 14px 0;
}
.navigation__link {
  display: block;
  width: 100%;
  padding-right: 48px;
  font-size: 14px;
  line-height: 0.57;
  color: #4e4e4e;
  position: relative;
}
.navigation__link:after {
  position: absolute;
  content: '';
  top: 0;
  right: 43px;
  width: 4px;
  height: 8px;
  background: url('../images/svg/arrow4.svg') no-repeat;
}
.navigation__link:hover,
.navigation__link.active {
  color: #d7353d;
}
.navigation__link:hover:after,
.navigation__link.active:after {
  background: url('../images/svg/arrow3.svg') no-repeat;
}
.navigation__link:hover {
  text-decoration: underline;
}
.navigation__bl {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 320px;
  right: -36px;
  padding: 41px;
  opacity: 0;
  -webkit-transition: left 1s, right 1s, opacity 0.2s;
  transition: left 1s, right 1s, opacity 0.2s;
}
.navigation__link.active + .navigation__bl {
  opacity: 1;
  display: block;
  left: 284px;
  right: 0;
}
.navigation__bl-category {
  font-size: 18px;
  font-weight: 600;
  line-height: 0.61;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
}
.navigation__bl-link {
  font-size: 14px;
  line-height: 0.71;
  color: #000;
  position: absolute;
  right: 43px;
  top: 45px;
}
.navigation__bl-link svg {
  margin-left: 7px;
  vertical-align: middle;
}
.navigation__bl-content {
  width: 100%;
  list-style: none;
  padding: 28px 0 0;
  margin: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 244px;
  -moz-column-width: 244px;
  column-width: 244px;
}
.navigation__bl-content li {
  padding: 7px 0;
}
.navigation__bl-content li:nth-child(34n + n) {
  display: none;
}
.navigation .secondary-btn {
  width: 197px;
}
.primary-btn,
.secondary-btn {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.primary-btn--big,
.secondary-btn--big {
  height: 50px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.primary-btn {
  width: 115px;
  background-color: #d7353d;
  color: #fff;
}
.primary-btn--big {
  width: 215px;
}
.primary-btn:hover {
  background-color: #d83338;
}
.primary-btn.active {
  background-color: #c22d328 8;
  border: solid 1px rgba(0, 0, 0, 0.2);
}
.secondary-btn {
  width: 137px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  color: #4e4e4e;
}
.secondary-btn--big {
  width: 242px;
  color: #000;
}
.secondary-btn:hover {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.08);
}
.secondary-btn.active {
  background-color: rgba(0, 0, 0, 0.02);
  border: solid 1px rgba(0, 0, 0, 0.08);
}
.tabs__head {
  height: 73px;
  padding: 0 41px;
  border-bottom: 1px solid #e5e5e5;
}
.tabs__link {
  display: inline-block;
  height: 73px;
  line-height: 73px;
  margin-right: 43px;
  font-size: 16px;
  font-weight: 600;
  color: #737373;
}
.tabs__link.active,
.tabs__link:hover {
  color: #000;
  border-bottom: 2px solid #d7353d;
}
.tabs__content {
  padding: 41px;
}
.tabs__item {
  display: none;
}
.tabs__item.active {
  display: block;
}
.tabs .dropdown {
  top: 20px;
}
.hf-block {
  width: 50%;
  position: relative;
  float: left;
}
.hf-block--bordered {
  border-bottom: 1px solid #e5e5e5;
}
.hf-block--bordered:nth-child(odd) {
  border-right: 1px solid #e5e5e5;
}
.hf-block--label {
  background: #2b2b2b;
}
.qr-block {
  width: 25%;
}
.qr-block--label {
  background: #2b2b2b !important;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 1.78;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 55px;
}
.qr-block--label:after {
  position: absolute;
  content: '';
  top: 43%;
  right: -12px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  transform: rotate(-315deg);
  background-color: #2b2b2b;
  z-index: 1;
}
.qr-block--label svg {
  display: block;
  margin: 0 auto 21px;
}
.qr-block--label .secondary-link {
  text-transform: none;
  letter-spacing: 0;
}
.qr-block--limited:nth-child(4n + 4) {
  border-right: none;
}
.qr-block--limited:nth-child(n + 5) {
  border-top: 1px solid #e5e5e5;
}
.third-block {
  width: 33.33%;
}
.third-block.wide {
  width: 66.66%;
  border-top: 1px solid #e5e5e5;
}
.third-block:last-child .advantage:after {
  display: none;
}
.qr-block,
.third-block {
  position: relative;
  float: left;
}
.qr-block--limited,
.third-block--limited {
  height: 284px;
  border-right: 1px solid #e5e5e5;
}
.qr-block.high,
.third-block.high {
  height: 568px;
  float: right;
  border-right: none;
}
.text-block {
  padding-bottom: 38px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.text-block__title {
  font-size: 16px;
  line-height: 0.5;
  color: #000;
  margin-bottom: 15px;
}
.text-block__content {
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}
.text-block:last-child {
  padding-bottom: 0;
  border: none;
  margin: 0;
}
.infoblock {
  position: relative;
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.05);
}
.infoblock__heading {
  width: 100%;
  height: 70px;
  line-height: 72px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: #000;
}
.infoblock--main {
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 522px;
  z-index: 1;
}
.infoblock--noshadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.infoblock--white {
  background: #fff;
}
.infoblock--white .infoblock__heading {
  border-bottom: 1px solid #e5e5e5;
}
.infoblock--white .more-link {
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
}
.infoblock:last-child {
  margin-bottom: 130px;
}
.infoblock .breadcrumbs {
  height: 72px;
  margin: 0;
  padding: 26px 43px;
  border-bottom: solid 1px #e5e5e5;
}
.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.secondary-link,
.primary-link {
  font-size: 14px;
  line-height: 0.57;
}
.secondary-link:hover,
.primary-link:hover {
  color: #000;
  text-decoration: underline;
}
.primary-link {
  color: #d93338;
}
.primary-link:hover {
  color: #c12d32;
}
.secondary-link {
  color: #4e4e4e;
}
.secondary-link:hover {
  color: #000;
}
.secondary-link img {
  width: 18px;
  height: 18px;
  margin-left: 9px;
  vertical-align: middle;
}
.secondary-link.right {
  float: right;
  line-height: normal;
}
.more-link {
  display: block;
  width: 192px;
  height: 54px;
  line-height: 57px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #000;
}
.more-link__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 9px;
  vertical-align: middle;
  background: url('../images/svg/arrow2.svg');
  margin-top: -4px;
}
.calculator__head {
  height: 73px;
  line-height: 73px;
  padding: 0 41px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.calculator__head .simple-input {
  padding-right: 30px;
}
.calculator__content {
  border-top: solid 1px #e5e5e5;
  padding: 13px;
}
.calculator__icon {
  display: inline-block;
  width: 18px;
  height: 20px;
  background: url("../images/svg/calc.svg") no-repeat;
  margin-right: 14px;
  vertical-align: middle;
  margin-top: -4px;
}
.calculator__input {
  display: inline-block;
  width: 89px;
  position: relative;
  margin-left: 23px;
}
.calculator__volume {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 25px;
  height: 32px;
  color: #a3a3a3;
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
}
.calculator__row {
  width: 100%;
}
.calculator__item {
  display: inline-block;
  float: left;
  font-size: 14px;
  line-height: 32px;
}
.calculator__item:nth-child(1) {
  width: 51.86%;
}
.calculator__item:nth-child(2) {
  width: 48.13%;
}
.calculator .hf-block {
  padding: 20px 40px 20px 28px;
}
.calculator .hf-block--label {
  padding-right: 55px;
}
.calculator .hf-block--label:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  background: #fff;
}
.calculator .hf-block--label:before {
  position: absolute;
  content: '';
  top: 57%;
  right: 4px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  transform: rotate(-315deg);
  background-color: #2b2b2b;
  z-index: 1;
}
.calculator .hf-block--label .calculator__item {
  color: #bfbfbf;
}
.calculator .custom__label {
  color: #fff;
}
.calculator .custom__label:before {
  border: none;
}
.popup-link {
  display: inline-block;
  position: absolute;
  top: 44px;
  height: 41px;
  line-height: 42px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.popup-link.catalog {
  left: 0;
  width: 129px;
  border: solid 1px #b0c5df;
  text-align: center;
}
.popup-link.catalog svg {
  margin-right: 11px;
}
.popup-link.login {
  right: 0;
}
.simple-input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #f4f4f4;
  font-size: 15px;
  color: #000;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.simple-input::-webkit-input-placeholder {
  color: #a3a3a3;
}
.simple-input::-moz-placeholder {
  color: #a3a3a3;
}
.simple-input:-moz-placeholder {
  color: #a3a3a3;
}
.simple-input:-ms-input-placeholder {
  color: #a3a3a3;
}
.simple-input:focus {
  -webkit-box-shadow: 0 1px 0 0 #458aff;
  box-shadow: 0 1px 0 0 #458aff;
}
.simple-input--lower {
  height: 32px;
  padding: 0 12px;
}
.simple-input__label {
  display: block;
  width: 100%;
  margin-bottom: 9px;
  font-size: 14px;
  color: #737373;
}
.custom__bl {
  display: inline-block;
}
.custom__bl--wide {
  width: 100%;
  margin-bottom: 9px;
}
.custom__bl--wide:last-child {
  margin-bottom: 0;
}
.custom__input {
  visibility: hidden;
}
.custom__input:checked + .custom__label:after {
  display: block;
}
.custom__label {
  position: relative;
  padding-left: 26px;
  margin-left: -24px;
  font-size: 14px;
  line-height: 0.63;
  color: #000;
  cursor: pointer;
}
.custom__label:after,
.custom__label:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  left: 0;
  top: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom__label:before {
  background-color: #ffffff;
  border: solid 2px rgba(0, 0, 0, 0.2);
}
.custom__label:after {
  display: none;
  background: url('../images/svg/checked.svg') no-repeat;
}
.custom__label--radio:after,
.custom__label--radio:before {
  border-radius: 100px;
  background: #fff;
}
.custom__label--radio:before {
  border: solid 2px rgba(0, 0, 0, 0.2);
}
.custom__label--radio:after {
  border: solid 4px #d7353d;
}
.filter__link {
  display: block;
  width: 100%;
  line-height: 1;
  margin-bottom: 14px;
}
.filter__link .name {
  display: inline-block;
  width: 59.8%;
  padding-right: 9.8%;
  line-height: 1.07;
  color: #000;
  font-size: 14px;
}
.filter__link .count {
  display: inline-block;
  width: 40.1%;
  font-size: 12px;
  line-height: 1.25;
  color: #737373;
  text-align: right;
}
.filter__link--show-more {
  font-size: 14px;
  font-weight: 600;
  color: #b7b7b7;
  padding-left: 25px;
  position: relative;
}
.filter__link--show-more .icon {
  position: absolute;
  left: 0;
  top: -3px;
  width: 18px;
  height: 18px;
  border: solid 2px #a3a3a3;
  border-radius: 100%;
}
.filter__link--show-more .icon:after,
.filter__link--show-more .icon:before {
  position: absolute;
  content: '';
  left: 4px;
  width: 6px;
  height: 6px;
  margin-top: -3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-136deg);
  -ms-transform: rotate(-136deg);
  transform: rotate(-136deg);
}
.filter__link--show-more .icon:after {
  top: 51%;
  border: solid 2px #a3a3a3;
}
.filter__link--show-more .icon:before {
  z-index: 1;
  top: 34%;
  background: #fff;
}
.filter__link--show-more .active-text {
  display: none;
}
.filter__link--show-more.active .active-text {
  display: inline;
}
.filter__link--show-more.active .no-active-text {
  display: none;
}
.filter__link--show-more.active .icon:before {
  top: 78%;
}
.filter__link--show-more.active .icon:after {
  top: 58%;
}
.filter__category {
  font-size: 14px;
  color: #737373;
}
.catalog__wrap {
  background: #fff;
}
.catalog__filter {
  font-size: 14px;
  color: #737373;
  padding: 19px 30px;
  border-bottom: 1px solid #e8e8e8;
}
.catalog__filter-item {
  margin-right: 20px;
}
.catalog__display {
  position: absolute;
  right: 30px;
  top: 20px;
  display: block;
  width: 32px;
  height: 32px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 31px;
}
.catalog__item {
  height: 300px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  position: relative;
}
.catalog__item:nth-child(3n) {
  border-right: none;
}
.catalog__item:after {
  position: absolute;
  content: '';
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  background: #fff;
  border: 1px solid #e8e8e8;
  display: none;
}
.catalog__item:hover {
  border: none;
  z-index: 3;
}
.catalog__item:hover:after {
  display: block;
  z-index: 2;
}
.catalog__item:hover .catalog__item-img,
.catalog__item:hover .catalog__item-title,
.catalog__item:hover .catalog__item-info {
  position: relative;
  z-index: 3;
}
.catalog__item:hover .absolute-link {
  z-index: 4;
}
.catalog__item-img {
  width: 90%;
  height: 195px;
  margin: 6px auto;
  overflow: hidden;
  vertical-align: middle;
  background: #fff;
  text-align: center;
  line-height: 200px;
}
.catalog__item-img img {
  max-height: 100%;
  vertical-align: middle;
}
.catalog__item-img--no {
  background: url('../images/no-img.png') center center #f5f5f5 no-repeat;
}
.catalog__item-title {
  height: 34px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
}
.catalog__item-title,
.catalog__item-info {
  padding: 0 13px;
}
.catalog__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.catalog__item-price {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #d7353d;
}
.catalog__item-rates {
  font-size: 12px;
  color: #4e4e4e;
  line-height: 25px;
}
.catalog__item-rates .count,
.catalog__item-rates .days {
  display: inline-block;
  padding-left: 21px;
  position: relative;
}
.catalog__item-rates .count:after,
.catalog__item-rates .days:after {
  position: absolute;
  content: '';
  top: 3px;
  left: 0;
}
.catalog__item-rates .days {
  margin-right: 12px;
}
.catalog__item-rates .days:after {
  width: 15px;
  height: 15px;
  background: url('../images/svg/icon-grey1.svg') no-repeat;
  background-size: cover;
}
.catalog__item-rates .count:after {
  width: 16px;
  height: 16px;
  background: url('../images/svg/icon-grey3.svg') no-repeat;
  background-size: cover;
}
.dropdown {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: 2;
}
.dropdown__selected-el {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 26px 0 12px;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  color: #4e4e4e;
  position: relative;
  float: right;
}
.dropdown__selected-el:after,
.dropdown__selected-el:before {
  position: absolute;
  content: '';
  top: 50%;
  right: 11px;
  width: 6px;
  height: 6px;
  margin-top: -3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-136deg);
  -ms-transform: rotate(-136deg);
  transform: rotate(-136deg);
}
.dropdown__selected-el:after {
  border: solid 2px #4e4e4e;
}
.dropdown__selected-el:before {
  z-index: 1;
  top: 42%;
  background: #fff;
}
.dropdown__selected-el:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
.dropdown__selected-el:hover:before {
  background: #f4f4f4;
}
.dropdown ul {
  position: absolute;
  top: 55px;
  right: 0;
  width: 136px;
  float: left;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 12px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 12px 10px 0 rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-transition: top 1s, opacity 0.2s;
  transition: top 1s, opacity 0.2s;
}
.dropdown ul:after,
.dropdown ul:before {
  position: absolute;
  content: '';
  right: 10px;
  border: 8px solid transparent;
}
.dropdown ul:after {
  top: -16px;
  border-bottom: 8px solid #fff;
}
.dropdown ul:before {
  top: -18px;
  border-bottom: 8px solid #f2f2f2;
}
.dropdown ul li {
  padding: 8px 20px;
  width: 100%;
  font-size: 14px;
}
.dropdown ul li:first-child {
  padding-top: 16px;
  -webkit-box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, 0.06);
  z-index: 1;
}
.dropdown ul li:last-child {
  padding-bottom: 8px;
}
.dropdown ul li a {
  color: #4e4e4e;
}
.dropdown.open ul {
  opacity: 1;
  top: 33px;
}
.dropdown.open .dropdown__selected-el {
  color: #000;
}
.dropdown.open .dropdown__selected-el:after {
  border: solid 2px #000;
}
.breadcrumbs {
  display: block;
  margin: 31px 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #000;
}
.breadcrumbs__item {
  display: inline-block;
  margin-right: 14px;
  padding-right: 18px;
  position: relative;
}
.breadcrumbs__item:last-child {
  margin: 0;
}
.breadcrumbs__item:last-child:after,
.breadcrumbs__item:last-child:before {
  display: none;
}
.breadcrumbs__item:after,
.breadcrumbs__item:before {
  position: absolute;
  content: '';
  top: 7px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.breadcrumbs__item:after {
  background: #bfbfbf;
  right: 0;
}
.breadcrumbs__item:before {
  background: #fcfcfc;
  z-index: 1;
  right: 3px;
}
.breadcrumbs a {
  color: #000;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
h2 .count {
  font-size: 14px;
  font-weight: 400;
  float: right;
}
.panel {
  width: 100%;
  min-width: 1024px;
  height: 70px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.06);
}
.panel__logo {
  display: inline-block;
  width: 111px;
  height: 39px;
  background: url('../images/svg/logo.svg') no-repeat;
  margin: 16px 20px 16px 0;
}
.panel .popup-link.catalog {
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.2);
  top: -30px;
  color: #000;
  font-weight: 600;
}
.panel .right,
.panel .left {
  display: inline-block;
}
.panel .right {
  font-size: 17px;
  line-height: 70px;
}
.panel .dropdown {
  line-height: 1.7;
}
.panel .dropdown__selected-el {
  font-size: 17px;
  color: #000;
  font-weight: normal;
}
.panel .dropdown__selected-el:after,
.panel .dropdown__selected-el:before {
  width: 5px;
  height: 5px;
}
.notification {
  display: inline-block;
  width: 23px;
  height: 28px;
  margin-right: -8px;
  margin-left: 20px;
  background: url('../images/svg/icon-grey19.svg') no-repeat;
  vertical-align: middle;
  position: relative;
  z-index: 3;
}
.notification__count {
  position: absolute;
  top: 0;
  left: 12px;
  height: 14px;
  background: #d7353d;
  border-radius: 100%;
  padding: 0 5px;
  font-size: 9px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
}
.notification--blue {
  background: url('../images/svg/icon-grey20.svg') no-repeat;
}
.footer__subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 24px;
}
.goods {
  background: #fff;
}
.goods__img {
  width: 94%;
  height: 195px;
  margin: 8px auto 20px;
  text-align: center;
  line-height: 200px;
  overflow: hidden;
}
.goods__img img {
  max-height: 100%;
  vertical-align: middle;
}
.goods__name {
  font-size: 14px;
  color: #4e4e4e;
  padding-left: 23px;
}
.goods__price {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-left: 23px;
}
.action {
  height: 284px;
  padding-top: 43px;
  text-align: center;
}
.action__label {
  margin-top: 33px;
}
.action__icon {
  width: 64px;
  height: 64px;
  margin: 0 auto 18px;
  -o-object-fit: contain;
  object-fit: contain;
}
.action__icon--buy {
  background: url('../images/svg/icon-red.svg') no-repeat;
}
.action__icon--get {
  background: url('../images/svg/icon-red2.svg') no-repeat;
}
.action__icon--form {
  background: url('../images/svg/icon-red3.svg') no-repeat;
}
.action__icon--update {
  background: url('../images/svg/icon-red4.svg') no-repeat;
}
.action__icon--questions {
  background: url('../images/svg/icon-red5.svg') no-repeat;
}
.action__icon--commission {
  background: url('../images/svg/icon-red6.svg') no-repeat;
}
.action__icon--photo {
  background: url('../images/svg/icon-red7.svg') no-repeat;
}
.action__icon--shipment {
  background: url('../images/svg/icon-red8.svg') no-repeat;
}
.action__icon--support {
  background: url('../images/svg/icon-red9.svg') no-repeat;
}
.action__icon--protection {
  background: url('../images/svg/icon-red10.svg') no-repeat;
}
.action__text {
  font-size: 20px;
  color: #000;
}
.action__more-info {
  font-size: 14px;
  color: #737373;
  padding: 0px 69px;
  margin-top: 5px;
}
.action__more-info--wide {
  padding: 0 49px;
}
.action__next-step {
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -14px;
}
.action--qr {
  padding-top: 78px;
}
.action--qr .action__text {
  font-size: 18px;
}
.category {
  position: relative;
  height: 100%;
}
.category__link,
.category__heading {
  position: absolute;
  left: 42px;
}
.category__heading {
  width: 170px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
  top: 42px;
}
.category__link {
  font-size: 14px;
  color: #737373;
  bottom: 37px;
}
.category__link-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 9px;
  vertical-align: middle;
  background: url('../images/svg/arrow2.svg');
}
.category--auto {
  background: url('../images/content/auto.png') no-repeat bottom right;
}
.category--computer {
  background: url('../images/content/computer.png') no-repeat bottom right;
}
.category--accessories {
  background: url('../images/content/accessories.png') no-repeat center right;
}
.category--garment {
  background: url('../images/content/garment.png') no-repeat bottom right;
}
.advantage {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: #d7353d;
  line-height: 0.5;
  margin-top: 42px;
  position: relative;
}
.advantage__text {
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 0.4;
  margin-top: 18px;
}
.advantage:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 70px;
  background: #e9e9e9;
  right: 0;
  top: -10px;
}
.form__item {
  margin-bottom: 25px;
}
.form__cell {
  display: inline-block;
  width: 45.66%;
  float: left;
  position: relative;
}
.form__cell:last-child {
  float: right;
}
.form__cell .simple-input {
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: 32px;
  font-size: 14px;
  padding-left: 30px;
}
.form__cell .clear-input,
.form__cell .icon {
  position: absolute;
}
.form__cell .icon {
  color: #9e9e9e;
  top: 6px;
  left: 12px;
}
.form__cell .clear-input {
  top: 12px;
  right: 12px;
  width: 8px;
  height: 8px;
  background: url('../images/svg/clear.svg') no-repeat;
  cursor: pointer;
}
.form__cell-delimiter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -1px;
  width: 9px;
  height: 2px;
  background: #373737;
}
.search {
  width: 450px;
  display: inline-block;
  position: relative;
  top: -31px;
  left: 3vw;
}
.search__input {
  width: 100%;
  height: 41px;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding-left: 13px;
  padding-right: 46px;
}
.search__btn {
  position: absolute;
  width: 46px;
  height: 39px;
  right: 1px;
  top: 1px;
  background: url('../images/svg/search.svg') center center #fff no-repeat;
  cursor: pointer;
}
.margin-top {
  margin-top: 100px;
}
.margin-top--lower {
  margin-top: 50px;
}
.copyrights {
  font-size: 16px;
  color: #7d7d7d;
  line-height: 0.63;
  margin-top: 62px;
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.popup {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  top: 180px !important;
}
.popup__body {
  padding: 42px;
}
.popup__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 0.57;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.popup__tail {
  position: absolute;
  top: -8px;
  right: 1062px;
  height: 16px;
  width: 16px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup.catalog {
  width: 1134px !important;
  height: 510px !important;
  top: 158px !important;
  left: 50% !important;
  margin-left: -567px;
  -webkit-transition: top 1s;
  transition: top 1s;
}
.popup.catalog.interior {
  top: 127px !important;
}
.popup.catalog.interior .popup__tail {
  right: 930px;
}
.popup.login {
  width: 398px !important;
  height: 406px !important;
  top: 146px !important;
  left: 50% !important;
  margin-left: 167px;
  -webkit-transition: top 1s, width 0.5s, height 0.5s;
  transition: top 1s, width 0.5s, height 0.5s;
}
.popup.login .popup__tail {
  right: 22px;
}
.popup.login #login,
.popup.login #registration {
  position: absolute;
  -webkit-transition: opacity 0.2s, left 0.5s, right 0.5s;
  transition: opacity 0.2s, left 0.5s, right 0.5s;
}
.popup.login #login {
  left: 42px;
  right: 42px;
}
.popup.login #registration {
  left: 356px;
  right: 0;
  opacity: 0;
}
.popup.registration {
  width: 498px !important;
  height: 429px !important;
  margin-left: 67px;
}
.popup.registration #login {
  left: 0;
  right: 456px;
  opacity: 0;
}
.popup.registration #registration {
  left: 42px;
  right: 42px;
  opacity: 1;
}
.popup.login .simple-input,
.popup.registration .simple-input {
  padding: 0 24px;
}
.popup.transition {
  -webkit-transition: top 1s, width 0.5s, height 0.5s, margin-left 0.5s;
  transition: top 1s, width 0.5s, height 0.5s, margin-left 0.5s;
}
.popup .custom__bl {
  position: relative;
}
.popup .custom__bl .form-error {
  top: 18px;
}
.popup .custom__label {
  font-size: 16px;
  color: #737373;
}
.popup .custom__label:after,
.popup .custom__label:before {
  top: 3px;
}
.popup .primary-btn {
  width: 100%;
}
.popup .secondary-link,
.popup .primary-link {
  font-size: 16px;
}
.popup .form__item {
  position: relative;
}
.popup .form__item:last-child {
  margin-bottom: 0;
  text-align: center;
  color: #737373;
  font-size: 16px;
}
.popup .form-error {
  position: absolute;
  left: 0;
  top: 48px;
}
.form-error {
  color: #d7353d;
}
