html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: @font;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

.clearfix {
	position: relative;

	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

a {
	text-decoration: none;
}

input {
	outline: none;
	border: none;
	font-family: @font;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.pagewrap{
	min-height: 100%;
	min-width: 1024px;
	padding-bottom: @footer-height;
	margin-bottom: -@footer-height;
	background: @grey0;
	overflow: hidden;
}

header {
	width: 100%;
	height: @header-height;
	background-color: @bg;
	z-index:3;
}

footer {
	height: @footer-height;
	min-width: 1024px;
	background-color: @bg;
	padding-top: 72px;

	.nav__link {
		display: block;
		margin-right: 0;
		margin-bottom: 21px;
		line-height: 1;

		&--logo {
			margin-bottom: 35px;
		}
		
		&--inline {
			display: inline-block;
			margin-right: 22px;
			margin-bottom: 24px;
			vertical-align: middle;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

aside {
	width: 25.86%;
	padding-right: 3.44%;
	float: left;

	hr {
		height: 1px;
		border: none;
		margin: 20px 0;
		background: @grey2;
	}

}

.content {
	width: 74.14%;
	float: right;
}

.bg-layer {
	width: 100%;
	min-width: 1024px;
	height: 697px;*
	opacity: 0.9;
	position: absolute;
	top: 37px;
	left: 0;
	background: url('../images/content/bg.jpg') no-repeat;
	background-size: 100% 100%;
}

.hill {
	width: 1600px;
	height: 684px;
	opacity: 0.9;
	position: absolute;
	top: 4px;
	background: url(../images/content/hill1.png) no-repeat;
	z-index: 1;
	left: -21%;
}

.bg-gradient {
	position: absolute;
	left: 0;
	top: 408px;
	width: 100%;
	min-width: 1024px;
	height: 401px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fcfcfc);
}

.container {
	min-width: 1024px;
	max-width: 1133px;
	margin: 0 auto;
}

.logo {
	display: block;
	width: 108px;
	height: 37px;
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -54px;
	background: url('../images/injapan-logo.png') no-repeat;
}

.heading, .subtitle {
	position: absolute;
	left: 0;
	width: 100%;
	letter-spacing: 3px;
	color: @white;
	text-align: center;
	text-transform: uppercase;
}

.heading {
	top: 173px;
	font-size: 78px;
	font-weight: 800;
	line-height: 1;
}

.subtitle {
	top: 295px;
	font-size: 18px;
	z-index: 2;

	&:after, &:before {
		position: absolute;
		content: '';
		top: 50%;
		width: 175px;
		height: 1px;
		opacity: 0.5;
		background:  @white;
	}

	&:before {
		left: 113px;
	}

	&:after {
		right: 113px;
	}
}

.main-search {
	position: absolute;
	top: 364px;
	left: 50%;
	margin-left: -273px;
	width: 547px;
	height: 54px;
	z-index: 2;

	&__input {
		height: 54px;
		width: 100%;
		opacity: 0.3;
		background-color: @black;
		padding: 0 130px 0 20px;
		line-height: 54px;
		color: @white;
		font-size: 16px;
	}

	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 110px;
		background: @red;
		line-height: 54px;
		color: @white;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		font-size: 14px;
		cursor: pointer;
	}
}

.nav {
	&__left, &__center, &__right {
		display: inline-block;
	}
	
	&__left {
		.nav__link {
			font-weight: 600;
			color: @white;
		}
	}

	&__center {
		margin-left: 15%;
	}

	&__right {
		float: right;
		.nav__link:last-child {
			margin: 0;
		}
	}
	&__link {
		display: inline-block;
		margin-right: 22px;
		color: @grey;
		font-size: 16px;
		line-height: @header-height;
	}
}

.navigation {
	display: block;
	list-style: none;
	width: 284px;
	height: 510px;
	margin: 0;
	padding: 27px 0 0 42px;
	border-right: 1px solid @grey6;

	li {
		padding: 14px 0;
	}

	&__link {
		display: block;
		width: 100%;
		padding-right: 48px;
		font-size: 14px;
		line-height: 0.57;
		color: @grey3;
		position: relative;

		&:after {
			position: absolute;
			content: '';
			top: 0;
			right: 43px;
			width: 4px;
			height: 8px;
			background: url('../images/svg/arrow4.svg') no-repeat;
		}

		&:hover, &.active {
			color: @red;

			&:after {
				background: url('../images/svg/arrow3.svg') no-repeat;
			}
		}
		&:hover {
			text-decoration: underline;
		}
	}

	&__bl {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 320px;
		right: -36px;
		padding: 41px;
		opacity: 0;
		transition: left 1s, right 1s, opacity 0.2s;
	}

	&__link.active + .navigation__bl {
		opacity: 1;
		display: block;
		left: 284px;
		right: 0;
	}

	&__bl-category {
		font-size: 18px;
		font-weight: 600;
		line-height: 0.61;
		letter-spacing: 3px;
		color: @black;
		text-transform: uppercase;
	}

	&__bl-link {
		font-size: 14px;
		line-height: 0.71;
		color: @black;
		position: absolute;
		right: 43px;
		top: 45px;

		svg {
			margin-left: 7px;
			vertical-align: middle;
		}
	}

	&__bl-content {
		width: 100%;
		list-style: none;
		padding: 28px 0 0;
		margin: 0;
		column-count: 3;
		column-width: 244px;

		li {
			padding: 7px 0;

			&:nth-child(34n + n) {
				display: none;
			}
		}

	}

	.secondary-btn {
		width: 197px;
	}
}


.primary-btn, .secondary-btn {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;

	&--big {
		height: 50px;
		line-height: 50px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}

.primary-btn {
	width: 115px;
	background-color: @red;
	color: @white;

	&--big {
		width: 215px;

	}

	&:hover {
		background-color: @red1;
	}

	&.active {
		background-color: @red2;
		border: solid 1px rgba(0, 0, 0, 0.2);
	}
}

.secondary-btn {
	width: 137px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	color: @grey3;

	&--big {
		width: 242px;
		color: @black;
	}

	&:hover {
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
		border: solid 1px rgba(0, 0, 0, 0.08);
	}

	&.active {
		background-color: rgba(0, 0, 0, 0.02);
		border: solid 1px rgba(0, 0, 0, 0.08);
	}
}

.tabs {
	&__head {
		height:  73px;
		padding: 0 41px;
		border-bottom: 1px solid @grey2;

	}

	&__link {
		display: inline-block;
		height:  73px;
		line-height: 73px;
		margin-right: 43px;
		font-size: 16px;
		font-weight: 600;
		color: @grey4;



		&.active, &:hover {
			color: @black;
			border-bottom: 2px solid @red;
		}
	}

	&__content {
		padding: 41px;
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	.dropdown {
		top: 20px;
	}
}

.hf-block {
	width: 50%;
	position: relative;
	float: left;

	&--bordered {
		border-bottom: 1px solid @grey2;

		&:nth-child(odd) {
			border-right: 1px solid @grey2;
		}
	}

	&--label {
		background: @bg;
	}


}

.qr-block {
	width: 25%;

	&--label {
		background: @bg !important;
		text-align: center;
		font-size: 18px;
		color: @white;
		line-height: 1.78;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding-top: 55px;

		&:after {
			position: absolute;
			content: '';
			top: 43%;
			right: -12px;
			width: 24px;
			height: 24px;
			-webkit-transform: rotate(-315deg);
			transform: rotate(-315deg);
			background-color: @bg;
			z-index: 1;
		}

		svg {
			display: block;
			margin: 0 auto 21px;
		}

		.secondary-link {
			text-transform: none;
			letter-spacing: 0;
		}

	}
	&--limited {
		&:nth-child(4n + 4) {
			border-right: none;
		}

		&:nth-child(n + 5) {
			border-top: 1px solid @grey2;
		}
	}
}

.third-block {
	width: 33.33%;

	&.wide {
		width: 66.66%;
		border-top: 1px solid @grey2;
	}
	
	&:last-child {
		.advantage:after {
			display: none;
		}
	}
}

.qr-block, .third-block {
	position: relative;
	float: left;

	&--limited {
		height: 284px;
		border-right: 1px solid @grey2;
	}
	&.high {
		height: 568px;
		float: right;
		border-right: none;
	}
}

.text-block {
	padding-bottom: 38px;
	margin-bottom: 40px;
	border-bottom: 1px solid @grey2;

	&__title {
		font-size: 16px;
		line-height: 0.5;
		color: @black;
		margin-bottom: 15px;
	}

	&__content {
		font-size: 14px;
		line-height: 1.43;
		color: @grey4;
	}

	&:last-child {
		padding-bottom: 0;
		border: none;
		margin: 0;
	}
}

.infoblock {
	position: relative;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.05);

	&__heading {
		width: 100%;
		height: 70px;
		line-height: 72px;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		color: @black;
	}

	&--main {
		box-shadow: none;
		height: 522px;
		z-index: 1;
	}

	&--noshadow {
		box-shadow: none;
	}

	&--white {
		background: @white;

		.infoblock__heading {
			border-bottom: 1px solid @grey2;
		}

		.more-link {
			width: 100%;
			box-shadow: none;
			border-top: 1px solid @grey2;
			font-size: 12px;
		}
	}

	&:last-child {
		margin-bottom: 130px;
	}

	.breadcrumbs {
		height: 72px;
		margin: 0;
		padding: 26px 43px;
		border-bottom: solid 1px @grey2;
	}
}

.absolute-link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.secondary-link, .primary-link {
	font-size: 14px;
	line-height: 0.57;

	&:hover {
		color: @black;
		text-decoration: underline;
	}
}

.primary-link {
	color: @red3;

	&:hover {
		color: @red4;
	}
}

.secondary-link {
	color: @grey3;

	&:hover {
		color: @black;
	}

	img {
		width: 18px;
		height: 18px;
		margin-left: 9px;
		vertical-align: middle;
	}

	&.right {
		float: right;
		line-height: normal;
	}
}

.more-link {
	display: block;
	width: 192px;
	height: 54px;
	line-height: 57px;
	background-color: @white;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	color: @black;

	&__icon {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin-left: 9px;
		vertical-align: middle;
		background: url('../images/svg/arrow2.svg');
		margin-top: -4px;
	}
}

.calculator {
	&__head {
		height: 73px;
		line-height: 73px;
		padding: 0 41px;
		font-size: 16px;
		font-weight: 600;
		color: @black;

		.simple-input {
			padding-right: 30px;
		}
	}

	&__content {
		border-top: solid 1px @grey2;
		padding: 13px;
	}

	&__icon {
		display: inline-block;
		width: 18px;
		height:20px;
		background: url("../images/svg/calc.svg") no-repeat;
		margin-right: 14px;
		vertical-align: middle;
		margin-top: -4px;
	}

	&__input {
		display: inline-block;
		width: 89px;
		position: relative;
		margin-left: 23px;
	}

	&__volume {
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 0;
		width: 25px;
		height: 32px;
		color: @grey8;
		font-size: 14px;
		line-height: 32px;
		font-weight: normal;
	}

	&__row {
		width:	100%;
	}

	&__item {
		display: inline-block;
		float: left;
		font-size: 14px;
		line-height: 32px;

		&:nth-child(1) {
			width: 51.86%;
		}

		&:nth-child(2) {
			width: 48.13%;
		}

	}

	.hf-block {
		padding: 20px 40px 20px 28px;
		
		&--label {
			padding-right: 55px;

			&:after {
				position: absolute;
				content: '';
				right: 0;
				top: 0;
				bottom: 0;
				width: 15px;
				background: @white;
			}

			&:before {
				position: absolute;
				content: '';
				top: 57%;
				right: 4px;
				width: 24px;
				height: 24px;
				transform: rotate(-315deg);
				background-color: @bg;
				z-index: 1;
			}

			.calculator__item {
				color: @grey;
			}
		}

	}
	.custom__label {
		color: @white;

		&:before  {
			border: none;
		}
	}
}

.popup-link {
	display: inline-block;
	position: absolute;
	top: 44px;
	height: 41px;
	line-height: 42px;
	font-size: 14px;

	letter-spacing: 2px;
	text-transform: uppercase;
	color: @white;


	&.catalog {
		left: 0;
		width: 129px;
		border: solid 1px @white1;
		text-align: center;

		svg {
			margin-right: 11px;
		}
	}

	&.login {
		right: 0;
	}
}

.simple-input {
	width: 100%;
	height: 50px;
	padding: 0 20px;
	background-color: @grey7;
	font-size: 15px;
	color: @black;

	&::-webkit-input-placeholder {color: @grey8;}
	&::-moz-placeholder          {color: @grey8;}/* Firefox 19+ */
	&:-moz-placeholder           {color: @grey8;}/* Firefox 18- */
	&:-ms-input-placeholder      {color: @grey8;}

	&:focus {
		box-shadow: 0 1px 0 0 @blue;
	}

	&--lower {
		height: 32px;
		padding: 0 12px;
	}

	&__label {
		display: block;
		width: 100%;
		margin-bottom: 9px;
		font-size: 14px;
		color: @grey4;
	}
}

.custom {
	&__bl {
		display: inline-block;

		&--wide {
			width: 100%;
			margin-bottom: 9px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__input {
		visibility: hidden;

		&:checked + .custom__label:after {
			display: block;
		}
	}

	&__label {
		position: relative;
		padding-left: 26px;
		margin-left: -24px;
		font-size: 14px;
		line-height: 0.63;
		color: @black;
		cursor: pointer;

		&:after, &:before {
			position: absolute;
			content: '';
			width: 15px;
			height: 15px;
			left: 0;
			top: 2px;
			box-sizing: border-box;
		}

		&:before {
			background-color: #ffffff;
			border: solid 2px rgba(0, 0, 0, 0.2);
		}

		&:after {
			display: none;
			background: url('../images/svg/checked.svg') no-repeat;
		}

		&--radio {
			&:after, &:before {
				border-radius: 100px;
				background: @white;
			}

			&:before {
				border: solid 2px rgba(0, 0, 0, 0.2);
			}

			&:after {
				border: solid 4px @red;
			}
		}
	}
}

.filter {
	&__link-wrap {

	}
	&__link {
		display: block;
		width: 100%;
		line-height: 1;
		margin-bottom: 14px;

		.name {
			display: inline-block;
			width: 59.8%;
			padding-right: 9.8%;
			line-height: 1.07;
			color: @black;
			font-size: 14px;
		}
		.count {
			display: inline-block;
			width: 40.1%;
			font-size: 12px;
			line-height: 1.25;
			color: @grey4;
			text-align: right;
		}

		&--show-more {
			font-size: 14px;
			font-weight: 600;
			color: @grey12;
			padding-left: 25px;
			position: relative;

			.icon {
				position: absolute;
				left: 0;
				top: -3px;
				width: 18px;
				height: 18px;
				border: solid 2px @grey8;
				border-radius: 100%;

				&:after, &:before {
					position: absolute;
					content: '';
					left: 4px;
					width: 6px;
					height: 6px;
					margin-top: -3.5px;
					box-sizing: border-box;
					transform: rotate(-136deg);
				}

				&:after {
					top: 51%;
					border: solid 2px @grey8;
				}

				&:before {
					z-index: 1;
					top: 34%;
					background: @white;
				}
			}

			.active-text {
				display: none;
			}

			&.active {

				.active-text {
					display: inline;
				}

				.no-active-text {
					display: none;
				}

				.icon {
					&:before {
						top: 78%;
					}

					&:after {
						top: 58%;
					}
				}
			}
		}
	}

	&__category {
		font-size: 14px;
		color: @grey4;
	}
}

.catalog {
	&__wrap {
		background: @white;
	}

	&__filter {
		font-size: 14px;
		color: @grey4;
		padding: 19px 30px;
		border-bottom: 1px solid @grey6;
	}

	&__filter-item {
		margin-right: 20px;
	}

	&__display {
		position: absolute;
		right: 30px;
		top: 20px;
		display: block;
		width: 32px;
		height: 32px;
		border: solid 1px rgba(0, 0, 0, 0.2);
		text-align: center;
		line-height: 31px;
	}

	&__item {
		height: 300px;
		background: @white;
		border-bottom: 1px solid @grey6;
		border-right: 1px solid @grey6;
		position: relative;


		&:nth-child(3n) {
			border-right: none;
		}
		
		&:after {
			position: absolute;
			content: '';
			top: -7px;
			left: -7px;
			right: -7px;
			bottom: -7px;
			background: @white;
			border: 1px solid @grey6;

			display: none;
		}
		
		&:hover {
			border: none;
			z-index: 3;

			&:after {
				display: block;
				z-index: 2;
			}

			.catalog__item-img, .catalog__item-title, .catalog__item-info {
				position: relative;
				z-index: 3;
			}

			.absolute-link {
				z-index: 4;
			}
		}
	}

	&__item-img {
		width: 90%;
		height: 195px;
		margin: 6px auto;
		overflow: hidden;
		vertical-align: middle;
		background: @white;
		text-align: center;
		line-height: 200px;

		img {
			max-height: 100%;
			vertical-align: middle;
		}

		&--no {
			background: url('../images/no-img.png') center center @grey13 no-repeat;
		}
	}

	&__item-title {
		height: 34px;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 1.21;
		color: @black;
	}

	&__item-title, &__item-info {
		padding: 0 13px;
	}

	&__item-info {
		display: flex;
		justify-content: space-between;
	}

	&__item-price {
		font-size: 17px;
		font-weight: 600;
		letter-spacing: 0.4px;
		color: @red;
	}

	&__item-rates  {
		font-size: 12px;
		color: @grey3;
		line-height: 25px;

		.count, .days {
			display: inline-block;
			padding-left: 21px;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				top: 3px;
				left: 0;
			}
		}

		.days {
			margin-right: 12px;

			&:after {
				width: 15px;
				height: 15px;
				background: url('../images/svg/icon-grey1.svg') no-repeat;
				background-size: cover;
			}
		}

		.count {
			&:after {
				width: 16px;
				height: 16px;
				background: url('../images/svg/icon-grey3.svg') no-repeat;
				background-size: cover;
			}
		}
	}
}

.dropdown {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	z-index: 2;

	&__selected-el {
		display: inline-block;
		height: 32px;
		line-height: 32px;
		padding:0 26px 0 12px;
		font-size: 14px;
		font-weight: 600;
		text-align: right;
		color: @grey3;
		position: relative;
		float: right;

		&:after, &:before {
			position: absolute;
			content: '';
			top: 50%;
			right: 11px;
			width: 6px;
			height: 6px;
			margin-top: -3.5px;
			box-sizing: border-box;
			transform: rotate(-136deg);
		}

		&:after {
			border: solid 2px @grey3;
		}

		&:before {
			z-index: 1;
			top: 42%;
			background: @white;
		}

		&:hover {
			cursor: pointer;
			background-color: @grey7;

			&:before {
				background: @grey7;;
			}
		}
	}
	
	ul {
		position: absolute;
		top: 55px;
		right: 0;
		width: 136px;
		float: left;
		height: auto;
		background-color: @white;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 12px 10px 0 rgba(0, 0, 0, 0.05);
		margin: 0;
		padding: 0;
		list-style: none;
		opacity: 0;
		transition: top 1s, opacity 0.2s;

		&:after, &:before {
			position: absolute;
			content: '';
			right: 10px;
			border: 8px solid transparent;
		}

		&:after {
			 top: -16px;
			 border-bottom: 8px solid @white;
		}

		&:before {
			top: -18px;
			border-bottom: 8px solid @grey9;
		}

		li {
			padding: 8px 20px;
			width: 100%;
			font-size: 14px;


			&:first-child {
				padding-top: 16px;
				box-shadow:  0 -1px 0px 0px rgba(0, 0, 0, 0.06);
				z-index: 1;
			}

			&:last-child {
				padding-bottom: 8px;
			}

			a {
				color: @grey3;
			}
		}
	}

	&.open {
		ul {
			opacity: 1;
			top: 33px;

		}

		.dropdown__selected-el {
			color: @black;

			&:after {
				border: solid 2px @black;
			}

		}
	}
}

.breadcrumbs {
	display: block;
	margin: 31px 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	color: @black;

	&__item {
		display: inline-block;
		margin-right: 14px;
		padding-right: 18px;
		position: relative;

		&:last-child {
			margin: 0;
			&:after, &:before {
				display: none;
			}
		}

		&:after, &:before{
			position: absolute;
			content: '';
			top: 7px;
			width: 6px;
			height: 6px;
			transform: rotate(-45deg);
		}

		&:after {
			background: @grey;
			right: 0;
		}

		&:before {
			background: @grey0;
			z-index:1;
			right: 3px;
		}
	}

	a  {
		color: @black;

		&:hover {
			text-decoration: underline;
		}
	}
}

h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 0;

	.count {
		font-size: 14px;
		font-weight: 400;
		float: right;
	}
}

.panel {
	width: 100%;
	min-width: 1024px;
	height: 70px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.06);

	&__logo {
		display: inline-block;
		width: 111px;
		height: 39px;
		background: url('../images/svg/logo.svg') no-repeat;
		margin: 16px 20px 16px 0;
	}

	.popup-link {
		&.catalog {
			position: relative;
			border: solid 1px rgba(0, 0, 0, 0.2);
			top: -30px;
			color: @black;
			font-weight: 600;
		}
	}

	.right, .left {
		display: inline-block;

	}

	.right {
		font-size: 17px;
		line-height: 70px;
	}

	.dropdown {
		line-height: 1.7;


		&__selected-el {
			font-size: 17px;
			color: @black;
			font-weight:normal;

			&:after, &:before {
				width: 5px;
				height: 5px;
			}
		}

	}

}

.notification {
	display: inline-block;
	width: 23px;
	height: 28px;
	margin-right: -8px;
	margin-left: 20px;
	background: url('../images/svg/icon-grey19.svg') no-repeat;
	vertical-align: middle;
	position: relative;
	z-index:3;

	&__count {
		position: absolute;
		top: 0;
		left: 12px;
		height: 14px;
		background: @red;
		border-radius: 100%;
		padding: 0 5px;
		font-size: 9px;
		font-weight: 600;
		color: @white;
		line-height: 1.7;
	}

	&--blue {
		background: url('../images/svg/icon-grey20.svg') no-repeat;
	}
}


.footer__subtitle {
	font-size: 18px;
	font-weight: 600;
	color: @white;
	margin-bottom: 24px;
}

.goods {
	background: @white;

	&__img {
		width: 94%;
		height: 195px;
		margin: 8px auto 20px;
		text-align: center;
		line-height: 200px;
		overflow: hidden;

		img {
			max-height: 100%;
			vertical-align: middle;
		}
	}

	&__name {
		font-size: 14px;
		color: @grey3;
		padding-left: 23px;
	}

	&__price {
		font-size: 16px;
		font-weight: 600;
		color: @black;
		padding-left: 23px;
	}
}

.action {
	height: 284px;
	padding-top: 43px;
	text-align: center;

	&__label {
		margin-top: 33px;
	}

	&__icon {
		width: 64px;
		height: 64px;
		margin: 0 auto 18px;
		object-fit: contain;

		&--buy {
			background: url('../images/svg/icon-red.svg') no-repeat;
		}

		&--get {
			background: url('../images/svg/icon-red2.svg') no-repeat;
		}

		&--form {
			background: url('../images/svg/icon-red3.svg') no-repeat;
		}

		&--update {
			background: url('../images/svg/icon-red4.svg') no-repeat;
		}

		&--questions {
			background: url('../images/svg/icon-red5.svg') no-repeat;
		}

		&--commission {
			background: url('../images/svg/icon-red6.svg') no-repeat;
		}

		&--photo {
			background: url('../images/svg/icon-red7.svg') no-repeat;
		}

		&--shipment {
			background: url('../images/svg/icon-red8.svg') no-repeat;
		}

		&--support{
			background: url('../images/svg/icon-red9.svg') no-repeat;
		}

		&--protection {
			background: url('../images/svg/icon-red10.svg') no-repeat;
		}
	}

	&__text {
		font-size: 20px;
		color: @black;
	}

	&__more-info {
		font-size: 14px;
		color: @grey4;
		padding: 0px 69px;
		margin-top: 5px;

		&--wide {
			padding: 0 49px;
		}
	}

	&__next-step {
		position: absolute;
		top: 50%;
		right: -26px;
		margin-top: -14px;
	}

	&--qr {
		padding-top: 78px;

		.action__text {
			font-size: 18px;
		}
	}
}

.category {
	position: relative;
	height: 100%;

	&__link, &__heading {
		position: absolute;
		left: 42px;
	}

	&__heading {
		width: 170px;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		color: @black;
		top: 42px;
	}

	&__link  {
		font-size: 14px;
		color: @grey4;
		bottom: 37px;
	}

	&__link-icon {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin-left: 9px;
		vertical-align: middle;
		background: url('../images/svg/arrow2.svg');
	}

	&--auto {
		background: url('../images/content/auto.png') no-repeat bottom right;
	}

	&--computer {
		background: url('../images/content/computer.png') no-repeat bottom right;
	}

	&--accessories {
		background: url('../images/content/accessories.png') no-repeat center right;
	}

	&--garment {
		background: url('../images/content/garment.png') no-repeat bottom right;
	}
}

.advantage {
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	color: @red;
	line-height: 0.5;
	margin-top: 42px;
	position: relative;

	&__text {
		font-size: 20px;
		color: @black;
		font-weight: normal;
		line-height: 0.4;
		margin-top: 18px;
	}

	&:after {
		position: absolute;
		content: '';
		width: 2px;
		height: 70px;
		background: @grey5;
		right: 0;
		top: -10px;
	}
}

.form {
	&__item {
		margin-bottom: 25px;
	}

	&__cell {
		display: inline-block;
		width: 45.66%;
		float: left;
		position: relative;

		&:last-child {
			float: right;
		}

		.simple-input {
			background: @white;
			border: solid 1px rgba(0, 0, 0, 0.2);
			height: 32px;
			font-size: 14px;
			padding-left: 30px;
		}

		.clear-input, .icon {
			position: absolute;
		}

		.icon {
			color: @grey10;
			top: 6px;
			left: 12px;
		}

		.clear-input {
			top: 12px;
			right: 12px;
			width: 8px;
			height: 8px;
			background: url('../images/svg/clear.svg') no-repeat;
			cursor: pointer;
		}
	}

	&__cell-delimiter {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -4px;
		margin-top: -1px;
		width: 9px;
		height: 2px;
		background: @grey11;


	}
}

.search {
	width: 450px;
	display: inline-block;
	position: relative;
	top: -31px;
	left: 3vw;


	&__input {
		width: 100%;
		height: 41px;
		background-color: @white;
		border: solid 1px rgba(0, 0, 0, 0.2);
		padding-left: 13px;
		padding-right: 46px;
	}

	&__btn {
		position: absolute;
		width: 46px;
		height:39px;
		right: 1px;
		top: 1px;
		background: url('../images/svg/search.svg') center center @white no-repeat;
		cursor: pointer;
	}
}

.margin-top {
	margin-top: 100px;

	&--lower {
		margin-top: 50px;
	}
}

.copyrights {
	font-size: 16px;
	color: @grey1;
	line-height: 0.63;
	margin-top: 62px;
}

.hidden {
	display: none;
}

.left {	
	float: left;
}

.right {
	float: right;
}


.popup {
	background-color: @white;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
	top: 180px !important;

	&__body {
		padding: 42px;
	}

	&__title {
		font-size: 14px;
		font-weight: 600;
		line-height: 0.57;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}

	&__tail {
		position: absolute;
		top: -8px;
		right: 1062px;
		height: 16px;
		width: 16px;
		background: @white;
		transform: rotate(45deg);
	}

	&.catalog {
		width: 1134px !important;
		height: 510px !important;
		top: 158px !important;
		left: 50% !important;
		margin-left: -567px;
		transition: top 1s;

		&.interior {
			top: 127px !important;

			.popup__tail {
				right: 930px;
			}
		}
	}

	&.login {
		width: 398px !important;
		height: 406px !important;
		top: 146px !important;
		left: 50% !important;
		margin-left: 167px;
		transition: top 1s, width 0.5s, height 0.5s;

		.popup__tail {
			right: 22px;
		}

		#login ,#registration {
			position: absolute;
			transition: opacity 0.2s, left 0.5s, right 0.5s;
		}

		#login {
			left: 42px;
			right: 42px;
		}

		#registration {
			left: 356px;
			right: 0;
			opacity: 0;
		}
	}

	&.registration {
		width: 498px !important;
		height: 429px !important;
		margin-left: 67px;

		#login {
			left: 0;
			right: 456px;
			opacity: 0;
		}

		#registration {
			left: 42px;
			right: 42px;
			opacity: 1;
		}
	}
	&.login, &.registration {
		.simple-input {
			padding: 0 24px;
		}
	}

	&.transition {
		transition: top 1s, width 0.5s, height 0.5s, margin-left 0.5s;
	}

	.custom {
		&__bl {
			position: relative;
			.form-error {
				top: 18px;
			}
		}

		&__label {
			font-size: 16px;
			color: @grey4;

			&:after, &:before {
				top: 3px;
			}
		}
	}

	.primary-btn {
		width: 100%;
	}

	.secondary-link, .primary-link {
		font-size: 16px;
	}

	.form__item {
		position: relative;

		&:last-child {
			margin-bottom: 0;
			text-align: center;
			color: @grey4;
			font-size: 16px;
		}
	}

	.form-error {
		position: absolute;
		left: 0;
		top: 48px;
	}
}

.form-error {
	color: @red;
}