/* fonts */
@font-face {
  font-family: 'Circe';
  src: 	url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/Circe-ExtraBold.ttf')  format('truetype'),
  url('../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: 	url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/Circe-Bold.woff') format('woff'), 
	    url('../fonts/Circe-Bold.ttf')  format('truetype'), 
	    url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: 	url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/Circe-Regular.woff') format('woff'), 
	    url('../fonts/Circe-Regular.ttf')  format('truetype'), 
	    url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font: 'Circe', 'Tahoma', sans-serif;

// colors

@white: #fff;
@white1: #b0c5df;

@black: #000;

@grey: #bfbfbf;
@grey0: #fcfcfc;
@grey1: #7d7d7d;
@grey2: #e5e5e5;
@grey3: #4e4e4e;
@grey4: #737373;
@grey5: #e9e9e9;
@grey6: #e8e8e8;
@grey7:  #f4f4f4;
@grey8:  #a3a3a3;
@grey9:  #f2f2f2;
@grey10:  #9e9e9e;
@grey11:  #373737;
@grey12:  #b7b7b7;
@grey13:  #f5f5f5;

@red: #d7353d;
@red1: #d83338;
@red2: #c22d328;
@red3: #d93338;
@red4: #c12d32;

@blue: #458aff;

@bg: #2b2b2b;

//- sizes
@header-height: 44px;
@footer-height: 372px;



