- var title= 'InJapan'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		.pagewrap
			include /blocks/header.jade
			include /blocks/panel.jade

			.container

				<!-- BEGIN breadcrumbs -->
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="")
							| Главная
					li.breadcrumbs__item
						a(href="")
							| Аукцион Yahoo
					li.breadcrumbs__item
						a(href="")
							| Товары для дома
					li.breadcrumbs__item
						span
							| Интерьер, Мебель
				<!-- END breadcrumbs -->

				.clearfix
					<!-- BEGIN aside -->
					aside.filter
						.filter__category
							|Товары для дома
						h2
							|Интерьер, Мебель
							span.count
								|1 421
						hr
						.filter__link-wrap
							a.filter__link(href="" title="")
								span.name
									|Мелочи
								span.count
									|123
							a.filter__link(href="" title="")
								span.name
									|На стену
								span.count
									|3
							a.filter__link(href="" title="")
								span.name
									|Освещение
								span.count
									|56
							a.filter__link(href="" title="")
								span.name
									|По производителям
								span.count
									|7
							a.filter__link(href="" title="")
								span.name
									|Полки
								span.count
									|89
							a.filter__link(href="" title="")
								span.name
									|Прочее
								span.count
									|90
							a.filter__link(href="" title="")
								span.name
									|Столы
								span.count
									|976
							a.filter__link(href="" title="")
								span.name
									|Туалетные столики
								span.count
									|65
							a.filter__link(href="" title="")
								span.name
									|Шкафы
								span.count
									|76
							a.filter__link(href="" title="")
								span.name
									|Шкафы для обуви
								span.count
									|6
							a.filter__link(href="" title="")
								span.name
									|Шторы, жалюзи
								span.count
									|87
							a.filter__link.c-filter-link.hidden(href="" title="")
								span.name
									|Зеракала
								span.count
									|5
							a.filter__link.c-filter-link.hidden(href="" title="")
								span.name
									|Ковры
								span.count
									|54
							a.filter__link.c-filter-link.hidden(href="" title="")
								span.name
									|Лампы
								span.count
									|5
							a.filter__link.c-filter-link.hidden(href="" title="")
								span.name
									|Стулья
								span.count
									|8
							a.filter__link.c-filter-link.hidden(href="" title="")
								span.name
									|Пуфики
								span.count
									|23

							a.filter__link.filter__link--show-more.c-filter-show-more(href="" title="")
								span.no-active-text
									|Показать все
								span.active-text
									| Скрыть

								span.icon


						hr
						form(method="" action="")
							.form__item
								label.simple-input__label
									|Цена
								.clearfix
									.form__cell.c-wrap-input
										input.simple-input.c-filter-input(type="number" name="price-from" value="10000")
										span.clear-input.c-clear-input
										span.icon.c-yen
											| ¥
										span.icon.hidden.c-dollar
											| $
										span.icon.hidden.c-ruble
											| &#8381

									.form__cell-delimiter
									.form__cell.c-wrap-input
										input.simple-input.c-filter-input(type="number" name="price-to" value="100000")
										span.clear-input.c-clear-input
										span.icon.c-yen
											| ¥
										span.icon.hidden.c-dollar
											| $
										span.icon.hidden.c-ruble
											| &#8381
							hr
							.form__item
								label.simple-input__label
									| Блиц-цена
								.clearfix
									.form__cell.c-wrap-input
										input.simple-input(type="number" name="blitz-price-from" placeholder="От" value="")
										span.clear-input.c-clear-input.hidden
										span.icon.c-yen
											| ¥
										span.icon.hidden.c-dollar
											| $
										span.icon.hidden.c-ruble
											| &#8381

									.form__cell-delimiter
									.form__cell.c-wrap-input
										input.simple-input.c-filter-input(type="number" name="blitz-price-to" placeholder="До" value="")
										span.clear-input.c-clear-input.hidden
										span.icon.c-yen
											| ¥
										span.icon.hidden.c-dollar
											| $
										span.icon.hidden.c-ruble
											| &#8381
							hr
							.form__item
								span.custom__bl.custom__bl--wide
									input#all.custom__input(type="radio" name="salespeople" value="all" checked="checked")
									label.custom__label.custom__label--radio(for="all")
										|Все продавцы

								span.custom__bl.custom__bl--wide
									input#shops.custom__input(type="radio" name="salespeople" value="shops")
									label.custom__label.custom__label--radio(for="shops")
										|Магазины

								span.custom__bl.custom__bl--wide
									input#participants.custom__input(type="radio" name="salespeople" value="participants")
									label.custom__label.custom__label--radio(for="participants")
										|Частники

							hr
							.form__item
								span.custom__bl.custom__bl--wide
									input#any.custom__input(type="radio" name="condition" value="any" checked="checked")
									label.custom__label.custom__label--radio(for="any")
										| В любом состоянии

								span.custom__bl.custom__bl--wide
									input#new.custom__input(type="radio" name="condition" value="new")
									label.custom__label.custom__label--radio(for="new")
										| Только новые

								span.custom__bl.custom__bl--wide
									input#bu.custom__input(type="radio" name="condition" value="bu")
									label.custom__label.custom__label--radio(for="bu")
										| Только б/у

							hr
							.form__item
								span.custom__bl.custom__bl--wide
									input#blitzprice.custom__input(type="checkbox" name="blitzprice" value="blitzprice" checked="checked")
									label.custom__label(for="blitzprice")
										| С блиц-ценой

								span.custom__bl.custom__bl--wide
									input#freeshipping.custom__input(type="checkbox" name="freeshipping" value="freeshipping")
									label.custom__label(for="freeshipping")
										| С бесплатной доставкой по Японии

								span.custom__bl.custom__bl--wide
									input#lasthours.custom__input(type="checkbox" name="lasthours" value="lasthours")
									label.custom__label(for="lasthours")
										| За последние 24 часа
					<!-- END aside -->
					<!-- BEGIN content -->
					.content
						.infoblock
							.catalog__wrap
								.catalog__filter
									span.catalog__filter-item
										|Показывать сначала:
										.dropdown.clearfix.c-dropdown
											a.dropdown__selected-el.c-dropdown-link(href="" title="")
												|Дешевые
											ul
												li
													a(href="" title="")
														|Item1
												li
													a(href="" title="")
														|Item2
												li
													a(href="" title="")
														|Item3

									span.catalog__filter-item
										|Валюта:
										.dropdown.clearfix.c-dropdown
											a.dropdown__selected-el.c-dropdown-link.c-currency(href="" title="")
												| JPT
											ul
												li
													a.c-select-currency.yen(href="" title="")
														| JPT
												li
													a.c-select-currency.ruble(href="" title="")
														| RUBLE
												li
													a.c-select-currency.dollar(href="" title="")
														| DOLLAR

									a.catalog__display(href="" title="")
										svg(style="width:14px; height:10px;")
											use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#catalog')

								.catalog__content.clearfix
									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img4.jpg" alt="")
										.catalog__item-title
											|Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												|¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													|3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img5.jpg" alt="")
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img6.jpg" alt="")
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img.catalog__item-img--no
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 870 500 000
											span.catalog__item-price.hidden.c-ruble
												| &#8381 870 500 000
											span.catalog__item-price.hidden.c-dollar
												| $ 870 500 000

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img5.jpg" alt="")
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img4.jpg" alt="")
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img5.jpg" alt="")
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img6.jpg" alt="")
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')

									.third-block.catalog__item
										a.absolute-link(href="" title="")
										.catalog__item-img
											img(src="images/content/img6.jpg" alt="")
										.catalog__item-title
											| Modern Scandinavian Design 2-Seat Sofa by Muuto - Muuto
										.catalog__item-info
											span.catalog__item-price.c-yen
												| ¥ 87 500
											span.catalog__item-price.hidden.c-ruble
												| &#8381 87 500
											span.catalog__item-price.hidden.c-dollar
												| $ 87 500

											span.catalog__item-rates
												span.days
													| 3 дня

												span.count
													| 4 ст.
											span.catalog__item-licked
												svg(style="width:14px; height:14px;")
													use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star1')


					<!-- END content -->


		include /blocks/footer.jade