- var title= 'InJapan'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		.pagewrap
			include /blocks/header.jade
			include /blocks/panel.jade

			.container
				.infoblock.infoblock--white.margin-top--lower
					<!-- BEGIN breadcrumbs -->
					ul.breadcrumbs
						li.breadcrumbs__item
							a(href="")
								| Главная
						li.breadcrumbs__item
							a(href="")
								| Аукцион Yahoo
						li.breadcrumbs__item
							a(href="")
								| Одежда, обувь, аксессуары
						li.breadcrumbs__item
							a(href="")
								| Мужская обувь
						li.breadcrumbs__item
							span
								| Кросовки
					<!-- END breadcrumbs -->

					.clearfix
						.hf-block.hf-block--bordered
						.hf-block.hf-block--bordered


				.infoblock.infoblock--white.margin-top--lower
					.calculator
						form(method="" action="")
							.calculator__head
								span.calculator__icon
								|Введите вес товара для расчета примерной стоимости в Москве
								span.calculator__input
									span.calculator__volume
										|кг
									input.simple-input.simple-input--lower(type="number" value="10" name="volume")
							.calculator__content.clearfix
								.hf-block.hf-block--label
									.calculator__row.clearfix
										.calculator__item
											|Куда
										.calculator__item
											input.simple-input.simple-input--lower(type="text" name="site" value="Москва, Росссия")
									.calculator__row.clearfix
										.calculator__item
											|Вес посылки с упаковкой
										.calculator__item
											|6 кг
									.calculator__row.clearfix
										.calculator__item
											|Способ доставки
										.calculator__item
											span.custom__bl.custom__bl--wide
												input#ems.custom__input(type="radio" name="delivery" value="ems" checked="checked")
												label.custom__label.custom__label--radio(for="ems")
													| EMS
											span.custom__bl.custom__bl--wide
												input#other.custom__input(type="radio" name="delivery" value="other")
												label.custom__label.custom__label--radio(for="other")
													| Море+ЖД
											span.custom__bl.custom__bl--wide
												input#epacket.custom__input(type="radio" name="delivery" value="epacket" disabled)
												label.custom__label.custom__label--radio(for="epacket")
													| ePacket
								.hf-block


				.infoblock.infoblock--white.margin-top--lower
					.tabs.c-tabs
						.tabs__head
							a.tabs__link.active.c-tab-link(href="" title="")
								|Описание
							a.tabs__link.c-tab-link(href="" title="")
								|О продавце
							a.tabs__link.c-tab-link(href="" title="")
								|Вопрос продавцу
							a.tabs__link.c-tab-link(href="" title="")
								|История ставок

							.dropdown.clearfix.c-dropdown.right
								a.dropdown__selected-el.c-dropdown-link(href="" title="")
									| Русский
								ul
									li
										a(href="" title="")
											| Русский
									li
										a(href="" title="")
											| Английский
									li
										a(href="" title="")
											| Японский
						.tabs__content
							.tabs__item.active.c-tabs-item
								.text-block
									.text-block__title
										|Лот
									.text-block__content
										| Apple... iPad mini 3 Wi-Fi + Cellular 16GB Gold MGYU2J/A... pad mini 3 16GB золотой... ... новый товар... выставляемый лот.... бытовая техника... docomo... купил,
										| в магазине продавец в магазине открытие проверка только... . Неиспользованный, поэтому, спокойно использование... ... новый товар неиспользованный, но,
										| фото съемка и открытие проверено только... . Можно только... чтобы не было сделал, но, этот... и... только те, кто это хорошо понимает, прошу делать ставку...
										| 2015 лет март 23... бытовая электроника магазин... общий купил новый товар неиспользованный товар. Общий оплата... , поэтому непогашенный кредит абсолютно
										| нет... main на дисплее отправка... ригинальный с защитной пленкой.... настоящий... товар бывший в обращении. Вышеуказанный... только те, кто это понимает прошу
										| делать ставку. Непонятные моменты спрашивайте, не стесняйтесь. Прошу.
								.text-block
									.text-block__title
										|Кроме этого
									.text-block__content
										| Apple... iPad mini 3 Wi-Fi + Cellular 16GB Gold MGYU2J/A... pad mini 3 16GB золотой... ... новый товар... выставляемый лот.... бытовая техника... docomo... купил,
										| в магазине продавец в магазине открытие проверка только... . Неиспользованный, поэтому, спокойно использование... ... новый товар неиспользованный, но,
										| фото съемка и открытие проверено только... . Можно только... чтобы не было сделал, но, этот... и... только те, кто это хорошо понимает, прошу делать ставку...
										| 2015 лет март 23... бытовая электроника магазин... общий купил новый товар неиспользованный товар. Общий оплата... , поэтому непогашенный кредит абсолютно
										| нет... main на дисплее отправка... ригинальный с защитной пленкой.... настоящий... товар бывший в обращении. Вышеуказанный... только те, кто это понимает прошу
										| делать ставку. Непонятные моменты спрашивайте, не стесняйтесь. Прошу.
								.text-block
									.text-block__title
										|Доставка
									.text-block__content
										| «Стандартная доставка» осуществляется на следующий день при заказе до 20.00. После 20.00 заказы принимаются на последующие дни. «Доставка день в день»
										| осуществляется в этот же день при заказе до 12.00. После 12.00 заказы принимаются на завтра. Информацию можно уточнить у менеджеров.
								.text-block
									.text-block__title
										|Способы оплаты
									.text-block__content
										|Вы можете оплатить услуги c кошельков Qiwi Wallet, Yandex Money, Элекснет.

							.tabs__item.c-tabs-item
								|2
							.tabs__item.c-tabs-item
								|3
							.tabs__item.c-tabs-item
								|4


				.infoblock.clearfix.margin-top--lower
					.qr-block.qr-block--label.qr-block--limited
						svg(style="width:28px; height:28px;")
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star')
						| Вы недавно
						br
						| смотрели
						br
						a.secondary-link(href="" title="")
							| Все товары
							img(src="/images/svg/arrow1.svg" alt="")

					.goods.qr-block.qr-block--limited
						.goods__img
							img(src="/images/content/img3.jpg" alt="")
						.goods__name
							| Товар 1
						.goods__price
							| 15 000 руб.
						a.absolute-link(href="" title="")

					.goods.qr-block.qr-block--limited
						.goods__img
							img(src="/images/content/img2.jpg" alt="")
						.goods__name
							| Товар 2
						.goods__price
							| 20 000 руб.
						a.absolute-link(href="" title="")

					.goods.qr-block.qr-block--limited
						.goods__img
							img(src="/images/content/img1.jpg" alt="")
						.goods__name
							| Товар 3
						.goods__price
							| 25 000 руб.
						a.absolute-link(href="" title="")



		include /blocks/footer.jade