- var title= 'InJapan'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		.pagewrap
			include /blocks/header.jade
			.bg-layer
			.bg-gradient

			.container
				.infoblock.infoblock--main.clearfix
					.hill
					a.popup-link.catalog.c-popup-link(href="/ajax/catalog.html" title="")
						svg(style="width:13px; height:12px;")
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#menu')
						|Каталог

					a.popup-link.login.c-popup-link(href="/ajax/login.html" title="")
						| Войти

					a.logo(href="" title="")

					.heading
						|Товары из японии

					.subtitle
						| Аукцион Yahoo и Интернет-магазины
					form.main-search(method="" action="")
						input.main-search__input(type="text" placeholder="Введите номер лота или название товара")
						input.main-search__btn(type="submit" value="Найти")

				.infoblock.clearfix
					.qr-block.qr-block--label.qr-block--limited
						svg(style="width:28px; height:28px;")
							use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star')
						|популярные
						br
						|товары
						br
						a.secondary-link(href="" title="")
							|Все товары
							img(src="/images/svg/arrow1.svg" alt="")

					.goods.qr-block.qr-block--limited
						.goods__img
							img(src="/images/content/img3.jpg" alt="")
						.goods__name
							|Товар 1
						.goods__price
							|15 000 руб.
						a.absolute-link(href="" title="")

					.goods.qr-block.qr-block--limited
						.goods__img
							img(src="/images/content/img2.jpg" alt="")
						.goods__name
							|Товар 2
						.goods__price
							|20 000 руб.
						a.absolute-link(href="" title="")

					.goods.qr-block.qr-block--limited
						.goods__img
							img(src="/images/content/img1.jpg" alt="")
						.goods__name
							|Товар 3
						.goods__price
							|25 000 руб.
						a.absolute-link(href="" title="")

				.infoblock.infoblock--noshadow.margin-top
					.infoblock__heading
						|Как это работает
					.clearfix
						.third-block
							.action
								.action__icon.action__icon--buy
								.action__text
									|Сформируйте посылку
								.action__more-info
									|Сделайте ставку на аукционе или закажите в интренет-магазине
								.action__next-step
									svg(style="width:52px; height:13px;")
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#next')

						.third-block
							.action
								.action__icon.action__icon--get
								.action__text
									| Получите посылку
								.action__more-info.action__more-info--wide
									|После поступления товара на наш склад в Японии укажите куда его отправлять
								.action__next-step
									svg(style="width:52px; height:13px;")
										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#next')

						.third-block
							.action
								.action__icon.action__icon--form
								.action__text
									| Купите товар
								.action__more-info
									|Мы отправим товар на указанный вами адрес

					a.more-link(href="" title="")
						|Подробнее
						span.more-link__icon

				.infoblock.infoblock--white.margin-top
					.infoblock__heading
						|Категории
					.clearfix
						.third-block.third-block--limited
							.category.category--auto
								.category__heading
									|Автомобили и запчасти
								a.category__link(href="" title="")
									|Все товары
									span.category__link-icon

						.third-block.third-block--limited
							.category.category--computer
								.category__heading
									|Компьютерная техника
								a.category__link(href="" title="")
									| Все товары
									span.category__link-icon

						.third-block.third-block--limited.high
							.category.category--accessories
								.category__heading
									|Часы и аксессуары
								a.category__link(href="" title="")
									| Все товары
									span.category__link-icon

						.third-block.third-block--limited.wide
							.category.category--garment
								.category__heading
									|Одежда, обувь, аксессуары
								a.category__link(href="" title="")
									| Все товары
									span.category__link-icon

					a.more-link(href="" title="")
						|Все категории
						span.more-link__icon

				.infoblock.infoblock--noshadow.margin-top
					.infoblock__heading
						| Нам доверяют
					.clearfix
						.third-block
							.advantage
								|15 000
								.advantage__text
									|клиентов
						.third-block
							.advantage
								| 10 000
								.advantage__text
									| лет на рынке
						.third-block
							.advantage
								| 500 000
								.advantage__text
									| товаров доставлено

				.infoblock.margin-top.clearfix
					.qr-block.qr-block--label.qr-block--limited
						.action__label
							|Наши
							br
							|преимущества
							br
							a.secondary-link(href="" title="")
								| Показать все
								img(src="/images/svg/arrow1.svg" alt="")

					.qr-block.qr-block--limited
						.action.action--qr
							.action__icon.action__icon--update
							.action__text
								|Бесплатная и качественная
								br
								|переупаковка

					.qr-block.qr-block--limited
						.action.action--qr
							.action__icon.action__icon--questions
							.action__text
								|Переводы вопросов
								br
								|продавцам

					.qr-block.qr-block--limited
						.action.action--qr
							.action__icon.action__icon--photo
							.action__text
								|Фотографирование
								br
								|товаров при поступлении
								br
								|на склад


					.qr-block.qr-block--limited
						.action.action--qr
							.action__icon.action__icon--commission
							.action__text
								|Низкая комиссия

					.qr-block.qr-block--limited
						.action.action--qr
							.action__icon.action__icon--shipment
							.action__text
								|Еженедельные морские
								br
								|отправки

					.qr-block.qr-block--limited
						.action.action--qr
							.action__icon.action__icon--support
							.action__text
								|Служба поддержки со
								br
								|знанием японского
								br
								|языка

					.qr-block.qr-block--limited
						.action.action--qr
							.action__icon.action__icon--protection
							.action__text
								|Защита интересов клиентов
								br
								|в спорных ситуациях
								br
								|с продавцами


		include /blocks/footer.jade