- var title= 'InJapan. Список страниц'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		.pagewrap
			include /blocks/header.jade
			.container

				ul(style="padding-top: 10px; display: block;")

					li(style="display:block; margin-bottom: 20px;")
						a(href="index.html" title="Главная")= 'Главная'
					li(style="display:block; margin-bottom: 20px;")
						a(href="catalog.html" title="Каталог")= 'Каталог'
					li(style="display:block; margin-bottom: 20px;")
						a(href="detail.html" title="Детальная страница товара")= 'Детальная страница товара'
		include /blocks/footer.jade